/* Little script to hide commits including the words: nit, nits, comment, documentation:

document.querySelectorAll('.commit .item-title').forEach(msg=>{ txt=msg.innerText.toLowerCase(); if (txt.indexOf('nits')!=-1 || txt.indexOf(' nit')!=-1 || txt.indexOf('comment')!=-1 || txt.indexOf('documentation')!=-1 ) msg.closest('.commit').classList.add('hide'); });

*/


/* .js-project-commits-show <- have all based on this */
.committer,.avatar-cell, .commit-actions  {display:none !important}

.commit {
    list-style:circle;
    break-inside: avoid-column;
}
.commit-header { break-inside: avoid-column; }
.commit-content,.commit-detail {display:inline;}
ul.content-list>li {
    display:list-item;
    padding: 2px 0 2px 12px;
    border-bottom:1px dotted #0001;
    text-overflow:ellipsis;
}
ul.content-list>li:only-child {
    border-bottom:none;
}
.commits-count {color:#bbb}
.commit-header {background-color:#eee;border-radius:12px 0 0 0; }
.commit-detail button {display:none}


ol.content_list {columns:5; max-height:730px; overflow:hidden}

.issues-filters {display:none}
button, a.btn, .btn-group {display:none !important}