.gl-label-text {
    /* This should be in the core GitLab theme, labels are 1 pixel too short! */
    line-height: 17px;
}

/*.author
,body img.avatar-inline*/
.todo {position:relative;}
.todo, .issue { transition:0.5s margin; }
.issuable-authored,
.title-item.todo-project.todo-label,
.title-item.author-name,
.title-item.action-name{display:none !important; right:18px; top:4px; }
.todo .title-item.todo-project.todo-label,
.todo .title-item.author-name,
.issue:hover .issuable-authored
,.issue:focus-within .issuable-authored
,.issue:hover .issuable-milestone
,.issue:focus-within .issuable-milestone
{display: initial !important;}

.issues-list .issue { padding:20px 0 6px 16px; }
.issues-list .issue .title { margin-bottom:0px; }

.card>.content-list>li.todo { padding:0; }
.todo-item .todo-body .md { position:absolute; margin-top:-5px; font-size:10px; }
.todo .title-item.todo-project.todo-label {left:5em;top:0em;}
.title-item.author-name {right:6.5em;top:0em}

.issuable-authored,
.issuable-milestone { top:4px; position:absolute; z-index:10; font-size:90%; }

.issuable-milestone { left:9px; opacity:.5;}
.issue:hover .issuable-milestone,
.issue:focus-within .issuable-milestone {opacity:1;}

.issue a[data-title="Milestone"]>i {display:none;}
.issuable-reference, .issuable-weight {float:left;}
.issuable-weight { margin:0 -2px }
.issuable-weight>svg { position:relative; width:14px; margin:0 -3px 0 0; top:-2px }

/* GL forces me to use such an exact selector, yuck :| */
.issue:focus-within .issuable-info-container .issuable-meta .controls,
.issue:hover .issuable-info-container .issuable-meta .controls { margin-bottom:-2px;margin-top:4px}

/* Capitalizing allows label ordering of uppercase before lowercase, without looking jank. */
.gl-label {border-radius:4px; background-color:currentColor; text-transform:capitalize; }
.gl-label, .gl-label-scoped.gl-label-sm { box-shadow: 0px 0px 0px 1px #5555; }
.gl-label-text {padding-left:4px !important; padding-right:4px !important}

.gl-label-scoped .gl-label-text:last-child {
    background: #fffd;
}

/*.dropdown-menu-labels .dropdown-content {max-height:300px;}*/